<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<h1>List of Cars</h1>
<table>
    <tr>
        <th>Model</th>
        <th>Color</th>
        <th>Series</th>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:text="${car.model}">Model</td>
        <td th:text="${car.color}">Color</td>
        <td th:text="${car.series}">Series</td>
    </tr>
</table>

</body>
</html>
